body {
    font-family: "Open Sans";
    margin-left: 15%;
    margin-right: 15%;
    background-color: darkgray;
}

.body-container {
    background-color: lightgrey;
}

.section-1 {
    background-color: #004175;
    border-color: #89DEEF;
    color: white;
    font-family: "Open Sans";
}

.tags {

}

.tag {

}

.section-2 {

}

.dog-row {

}

.dog-container {

}