body {
    font-family: "Oswald";
}

h1 {
    /* padding-left: 8px; */
    border: 10px solid black;
}

.section-1 {
    background-color: #004175;
    border-bottom: 10px solid red;
    border-color: #89DEEF;
    color: white;
    /* padding: 1em; */
    /* padding-left: 30px; */
    font-family: "Open Sans";
}

img {
    /* float: left; */
    width: 300px;
    height: auto;
    /* object-fit: cover; */
    object-fit: contain;
}

ul {
    border: none;
    padding: 0px 0px 0px 0px;
    display: inline;
}

.tags {
    background-color: #89DEEF;
    list-style: none;
    font-family: "Open Sans";
    display: inline;
}

.section-2 {
    background-color: pink;
}

.dog-row {
    background-color: red;
    width: auto;
    height: 500px;
    /* padding: 0 0 20 0; */
    margin: 20px;
}

.dog-container {
    background-color: blue;
    width: 300px;
    height: auto;
    display: inline-block;
    border-color: black;
    border: 13px solid black;
    /* display: inline; */
}