
body {
    background-color: lightgrey;
}

h1 {
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}
.content-container {
    background-color: lightslategray;
}

.section-1 {
    background-color: aquamarine;
}

.section-2 {
    background-color: lightcoral;
}

.section-3 {
    background-color:blueviolet;
}

.section-4 {
    background-color: lightgreen;
}

footer {
    background-color: lightgoldenrodyellow;
}